.header {
  display: flex;
  align-content: center;
  background-color: #2c364c;
  justify-content: space-around;
}
.logo {
  height: 30px;
  width: 100px;
  align-self: center;
  margin-top: 15px;
}
.headers {
  color: white;
  font-weight: bold;
  font-family: 'Roboto';
  padding-right: 25px;
  font-size: 23px;
  list-style: none;
}
.btn {
  background-color: blue;
  color: white;
  font-weight: bold;
  height: 27px;
  width: 100px;
  border-width: 0px;
  border-radius: 5px;
  align-self: center;
  margin-top: 15px;
}
.headers-card {
  display: flex;
  align-self: center;
}
@media (max-width: 768px) {
  .headers {
    font-size: 15px;
    padding-right: 10px;
    list-style: none;
  }
  .btn {
    width: 70px;
    margin-top: 10px;
  }
}
.li {
  list-style: none;
}
