.profile-card {
  background-image: url('https://assets.ccbp.in/frontend/react-js/profile-bg.png');
  height: 195px;
  width: 225px;
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  margin: 20px;
}
.profile-logo {
  height: 50px;
  width: 50px;
}
.name {
  font-size: 20px;
}
